
<app-nav-bar></app-nav-bar>


<div class=" home">
  <div class="overlay d-flex algin-item-center justifiy text-white">
    
    <h1 class="w-100 text-center "> Skill Show  <br><p class="fs-6 w-75 m-auto mt-3"> Welcome to Skill Show, the premier talent marketplace platform designed to empower small and medium-sized enterprises (SMEs) in Saudi Arabia. Our mission is to connect skilled professionals with the growing opportunities in the SME sector, fostering a dynamic and thriving business ecosystem.
      At Skill Show, we understand the unique challenges faced by SMEs in Saudi Arabia when it comes to talent acquisition and retention</p> </h1> 
    <!-- <p> Welcome to Skill Show, the premier talent marketplace platform designed to empower small and medium-sized enterprises (SMEs) in Saudi Arabia. Our mission is to connect skilled professionals with the growing opportunities in the SME sector, fostering a dynamic and thriving business ecosystem.
      At Skill Show, we understand the unique challenges faced by SMEs in Saudi Arabia when it comes to talent acquisition and retention. That's why we've developed a comprehensive platform that addresses the key pain points:
      
      Increased Visibility: Showcase your company's unique needs and discover a diverse pool of qualified candidates from across the Kingdom.
      Streamlined Talent Sourcing: Leverage our advanced search and matching capabilities to find the perfect fit for your specialized roles.
      Collaborative Skill Development: Partner with educational institutions and training providers to shape the future workforce and align skill sets with industry demands.
      Empowered Professionals: Enable skilled individuals to showcase their expertise, build their careers, and contribute to the growth of the SME sector.
      Join Skill Show today and unlock the untapped potential of your SME. Together, let's bridge the talent gap and drive Saudi Arabia's economic prosperity.
      </p> -->
  </div>
</div>